<h1>{{searchCriteria}}</h1>
<table class="table table-hover" ng-if="!loading">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                URL
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="repo in searchResults">
            <td class="text-left">
                {{repo.full_name}}
            </td>
            <td class="text-left">
                {{repo.clone_url}}
            </td>
            <td>
                <a class="btn btn-success" ng-href="#/repoComments/{{repo.name}}/{{repo.owner.login}}" role="button">Go</a>
            </td>
        </tr>
    </tbody>
</table>
